<div id="pause-screen">
  <ul class="menu">
    <li>{{#link-to 'game.play'}}Resume{{/link-to}}</li>
    <li><a href="#" {{action 'startOver'}}>Start Over</a></li>
    <li>{{#link-to 'index'}}End Game{{/link-to}}</li>
  </ul>
</div>
