<ul class="menu">
  <li>{{#link-to 'select_speed'}}New Game{{/link-to}}</li>
  <li>{{#link-to 'instructions'}}How to Play{{/link-to}}</li>
  <li><a href="https://github.com/machty/ember-falling-bricks" target="_blank">Source Code</a></li>
</ul>
