<ul class="menu">
  <li>{{#link-to 'select_game_type'}}New Game{{/link-to}}</li>
  <li>{{#link-to 'achievements'}}Achievements{{/link-to}}</li>
  <li>{{#link-to 'how_to_play'}}How to Play{{/link-to}}</li>
</ul>
