<div id="instructions">
  <h1>How to Play</h1>

  <p>
    Bricks fall from the sky, and you can color them by clicking
    on them.
  </p>

  <p>
    You can click on adjacent bricks with the same color to 
    remove them.
  </p>

  <p>
    The goal is to intelligently color the bricks as they fall
    so that they can be cleared before the stack of bricks 
    fills up.
  </p>
</div>

<h1 class="corner-menu">{{#link-to 'index'}}Back{{/link-to}}</h1>
